<div *ngIf="loading">Loading department...</div>

<div *ngIf="!loading && !error" class="form-container">
  <h2>Edit Department</h2>

  <form (ngSubmit)="onSubmit()">
    <fieldset>
      <legend>Department Info</legend>
      <p *ngIf="response" class="error">{{ response }}</p>
      <div>
        <label for="name">Name:</label>
        <input
          type="text"
          id="name"
          [(ngModel)]="department.name"
          name="name"
          required
        />
      </div>

      <div>
        <label for="location">Location:</label>
        <input
          type="text"
          id="location"
          [(ngModel)]="department.location"
          name="location"
          required
        />
      </div>
    </fieldset>

    <button type="submit" [disabled]="loading">
      {{ loading ? 'Updating...' : 'Update Department' }}
    </button>
  </form>

</div>

<div *ngIf="error" class="error">{{ error }}</div>
