<div *ngIf="loading">Loading...</div>

<form *ngIf="!loading && !error" (ngSubmit)="onSubmit()">

  <div>
    <label>Job Title:</label>
    <input type="text" [(ngModel)]="employee.jobTitle" name="jobTitle" />
  </div>

  <div>
    <label>Active:</label>
    <input type="checkbox" [(ngModel)]="employee.isActive" name="isActive" />
  </div>

  <div>
    <label>Department:</label>
    <input type="text" [(ngModel)]="employee.departmentId" name="departmentId" />
  </div>
  <div>
    <label>Salary:</label>
    <input type="number" [(ngModel)]="employee.salary" name="salary" />
  </div>
  <div>
    <label>Personal Info</label>
  </div>

  <div>
    <label>First Name:</label>
    <input type="text" [(ngModel)]="employee.personalInfo.firstName" name="firstName" required />
  </div>

  <div>
    <label>Last Name:</label>
    <input type="text" [(ngModel)]="employee.personalInfo.lastName" name="lastName" required />
  </div>


  <div>
    <label>Email:</label>
    <input type="email" [(ngModel)]="employee.personalInfo.email" name="email" required />
  </div>
  <div>
    <label>Phone Number:</label>
    <input type="text" [(ngModel)]="employee.personalInfo.phoneNumber" name="phoneNumber" />
  </div>
  <div>
    <label>Address:</label>
    <input type="text" [(ngModel)]="employee.personalInfo.address" name="address" />
  </div>
  <div>
    <label>Gender:</label>
    <select [(ngModel)]="employee.personalInfo.gender" name="gender">
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
  </div>
  <button type="submit" [disabled]="loading">Update Employee</button>
</form>

<div *ngIf="response">{{ response }}</div>
